﻿@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ModalLabel">@Model.ToString()</h4>
        </div>
        @using (Html.BeginForm())
        {
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    Некоторые настройки, касающиеся шаблонов сообщений, могут иметь дополнительные параметры,
                    которые можно указывать внутри сообщений и вместо которых будут подставляться реальные данные при выводе сообщений.
                    Такие параметры всегда указываются в <b>фигурных скобках</b>, напр.: <b>{0}</b>.
                    Список всех доступных параметров перечислен внизу каждой настройки.
                </div>
                @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        }
    </div>
</div>