﻿@model SitePage

@{
    ViewBag.PageTitle = Model.ToString();
}

@section Scripts
{
    @Scripts.Render("~/bundles/ckeditor")
}

<h1 class="page-header">@Model.ToString()</h1>

@using (Html.BeginForm())
{
    @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <hr />
    <div class="pull-right">
        <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
        @Html.ActionLink("Закрыть", "Index", null, new { @class = "btn btn-sm btn-default" })
    </div>
}