﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="@Url.Content("~/Images/favicon.png")" />
        <title>@ViewBag.PageTitle</title>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        @Scripts.Render("~/Scripts/ie10-viewport-bug-workaround.js")
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        @RenderSection("Styles", false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("Scripts", false)
    </body>
</html>
