﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="@Url.Content("~/Images/favicon.png")" />
        <title>LandHunter - Администрирование - @ViewBag.PageTitle</title>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        @Scripts.Render("~/Scripts/ie10-viewport-bug-workaround.js")
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        @Styles.Render("~/Styles/admin")
        @RenderSection("Styles", false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">
                        @Html.Image("~/Images/lh_logo.png")
                    </span>
                </div>
                <div class="navbar-collapse collapse">
                    @using (Html.BeginForm("SignOut", "Security", FormMethod.Post, new { id = "SignOutForm", style = "display:inline;" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.IsInRole("SuperAdministrator"))
                            {
                                <li><a href="@Url.Action("Edit", "Settings")" class="modal-form"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Настройки</a></li>
                            }
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;@User.Identity.Name&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Профиль", "Manage", "Security", null, new { @class = "modal-form" })</li>
                                    <li>@Html.ActionLink("Изменить пароль", "ChangePassword", "Security", null, new { @class = "modal-form" })</li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:document.getElementById('SignOutForm').submit()">Выйти</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    @Html.MvcSiteMap("AdminSiteMap").Menu("MenuHelper")
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="ajax-loader"></div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/noty")
        @Scripts.Render("~/bundles/admin")
        @RenderSection("Scripts", false)
    </body>
</html>