﻿@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ModalLabel">@Model.ToString()</h4>
        </div>
        @using (Html.BeginForm())
        {
            <div class="modal-body">
                @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        }
    </div>
</div>