﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

<h1 class="page-header">@Model</h1>

<p>
    @Html.ActionLink("Создать", "Create", null, new { id = controllerName + "Create", @class = "btn btn-sm btn-success modal-form", @data_target_update = "#" + controllerName + "Grid" })
    @*@Html.ActionLink("Экспортировать", "BatchXlsxGrid", new { area = "AZ" }, new { id = controllerName + "BatchXlsxGrid", @class = "btn btn-sm btn-info batch-export", target = "_blank" })*@
    @Html.ActionLink("Удалить", "BatchDelete", null, new { id = controllerName + "BatchDelete", @class = "btn btn-sm btn-danger batch-delete", @data_target_update = "#" + controllerName + "Grid" })
    @Html.AntiForgeryToken()
</p>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}