﻿@model Advertisement

@{
    ViewBag.PageTitle = Model.ToString();
}

@section Scripts{
    @Scripts.Render("~/bundles/advertisements")
}

<h1 class="page-header">@Model.ToString()</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.RealtorId)
    <div class="form-group">
        @Html.LabelFor(m => m.RealtorFullName)
        @Html.HiddenFor(m => m.RealtorFullName)
        <p class="form-control-static">@Model.RealtorFullName</p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdvertisementStatusId)
        @Html.DropDownListFor(m => m.AdvertisementStatusId, Model.StatusesDictionary, new { @class = "form-control input-sm" })
        @Html.ValidationMessageFor(m => m.AdvertisementStatusId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control input-sm" })
        <p class="help-block">@Html.DescriptionFor(m => m.Price)</p>
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CurrencyId)
        @Html.DropDownListFor(m => m.CurrencyId, Model.CurrenciesDictionary, new { @class = "form-control input-sm" })
        @Html.ValidationMessageFor(m => m.CurrencyId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CreateDate)
        @Html.HiddenFor(m => m.CreateDate)
        <p class="form-control-static">@Model.CreateDate</p>
        @Html.ValidationMessageFor(m => m.CreateDate)
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.IsOnTop)
                @Html.DisplayNameFor(m => m.IsOnTop)
            </label>
        </div>
        <p class="help-block">@Html.DescriptionFor(m => m.IsOnTop)</p>
        @Html.ValidationMessageFor(m => m.IsOnTop)
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.IsSoldOut)
                @Html.DisplayNameFor(m => m.IsSoldOut)
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.IsSoldOut)
    </div>
    @Html.HiddenFor(m => m.IsDeleted)
    <div class="form-group">
        @Html.LabelFor(m => m.CadNum)
        @Html.HiddenFor(m => m.CadNum)
        <p class="form-control-static">
            @Html.ActionLink(Model.CadNum, "Edit", "Lands", new { id = Model.CadNum.Replace(':', '_') }, new { target = "_blank", title = "Открыть карточку участка" })
        </p>
        @Html.ValidationMessageFor(m => m.CadNum)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        <div class="input-group">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })
            <span class="input-group-btn">
                @*<button class="btn btn-default show-from-land" type="button" title="Показать данные из участка">
                    <span class="glyphicon glyphicon-list"></span>
                </button>*@
                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        <div class="input-group">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control input-sm", cols = "1", rows = "6" })
            <span class="input-group-btn">
                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Utilization)
        <div class="input-group">
            @Html.TextBoxFor(m => m.Utilization, new { @class = "form-control input-sm" })
            <span class="input-group-btn">
                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.Utilization)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CategoryCode)
        <div class="input-group">
            @Html.DropDownListFor(m => m.CategoryCode, Model.CategoriesDictionary, new { @class = "form-control input-sm" })
            <span class="input-group-btn">
                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.CategoryCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Area)
        <div class="input-group">
            @Html.TextBoxFor(m => m.Area, new { @class = "form-control input-sm" })
            <span class="input-group-btn">
                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </span>
        </div>
        <p class="help-block">@Html.DescriptionFor(m => m.Area)</p>
        @Html.ValidationMessageFor(m => m.Area)
    </div>
    <div class="form-group">
        @Html.Label("Коммуникации")
        <div class="well well-sm checkbox-list">
            <span class="well-group-btn">
                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </span>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.GasPipeline)
                    @Html.DisplayNameFor(m => m.GasPipeline)
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.GasPipeline)

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.WaterPipeline)
                    @Html.DisplayNameFor(m => m.WaterPipeline)
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.WaterPipeline)

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.PowerLine)
                    @Html.DisplayNameFor(m => m.PowerLine)
                </label>
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Sand)
                    @Html.DisplayNameFor(m => m.Sand)
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.Sand)
        </div>
    </div>
    {
        Html.UpdatePanel("AdvertisementFiles", "Files", new { advertisementId = Model.Id }, new { id = "AdvertisementFilesGrid", @class = "mvcgrid-panel" });
    }

    <div class="form-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-7">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-sm btn-success navbar-btn">Сохранить</button>
                        @Html.ActionLink("Перенести в участок", "MoveToLand", null, new { id = "MoveToLand", @class = "btn btn-sm btn-info navbar-btn disabled", style = "pointer-events:all", title = "Перенести отмеченные атрибуты объявления в участок" })
                        @Html.ActionLink("Закрыть", "Index", null, new { @class = "btn btn-sm btn-default navbar-btn" })
                    </div>
                </div>
            </div>
        </nav>
    </div>
}