﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

<h1 class="page-header">@Model</h1>

@{
    Html.UpdatePanel("Filter", new { id = controllerName + "Filter", @class = "filterpanel" });
}

<p>
    @Html.ActionLink("Удалить", "BatchDelete", null, new { id = controllerName + "BatchDelete", @class = "btn btn-sm btn-danger batch-delete", @data_target_update = "#" + controllerName + "Grid" })
    @Html.AntiForgeryToken()
</p>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}