﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

<h1 class="page-header">@Model</h1>

@{
    Html.UpdatePanel("Filter", new { id = controllerName + "Filter", @class = "filterpanel" });
}

<p>
    @Html.ActionLink("Создать", "Create", null, new { id = controllerName + "Create", @class = "btn btn-sm btn-success", @data_target_update = "#" + controllerName + "Grid" })
</p>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}