﻿@model MenuHelperModel

<ul class="nav nav-sidebar">
    @foreach (var node in Model.Nodes.Where(n => !n.IsRootNode))
    {
        <li @(node.IsCurrentNode || node.IsInCurrentPath || ViewContext.RouteData.Values["controller"].ToString() == node.Controller ? "class=active" : null)>
            @Html.DisplayFor(m => node)
            @if (node.Children.Any() && (node.IsInCurrentPath || node.Children.Any(n => ViewContext.RouteData.Values["controller"].ToString() == n.Controller)))
            {
                @Html.DisplayFor(m => node.Children)
            }
        </li>
    }
</ul>