﻿@model SiteMapNodeModelList

<ul class="nav nav-sidebar">
    @foreach (var node in Model)
    {
        <li @(node.IsCurrentNode || node.IsInCurrentPath || ViewContext.RouteData.Values["controller"].ToString() == node.Controller ? "class=active" : null)>
            @Html.DisplayFor(m => node)
        </li>
    }
</ul>