/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

a {
  color: #38a855;
}
a:hover,
a:focus {
  color: #016a3f;
}

.well dl {
    margin-bottom: 0;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.ajax-loader {
    display:none;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url(../Images/ajaxLoader.gif) 50% 50% no-repeat;
}
body.loading {
    overflow:hidden;
}
body.loading .ajax-loader {
    display: block;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-brand > img {
    display: inline-block;
    margin-top: -3px;
    margin-right: 9px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #449d44;
}
.nav-sidebar > li .nav-sidebar {
    margin-left: 0;
    margin-bottom: 0;
    background-color: #e7e7e7;
}

.nav-sidebar > li .nav-sidebar > li > a {
    padding: 6px 0 6px 35px;
}

.nav-sidebar > li .nav-sidebar > .active > a,
.nav-sidebar > li .nav-sidebar > .active > a:hover,
.nav-sidebar > li .nav-sidebar > .active > a:focus {
    background-color: #88C088;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Table .mvcgrid
 */

table.mvcgrid > thead > tr > th > a {
    font-family: Calibri;
    font-size: 17px;
    text-decoration: none;
}

table.mvcgrid .mvcgrid-options-column {
    width: 30px;
    min-width: 30px;
}

table.mvcgrid .mvcgrid-delete-link,
table.mvcgrid .mvcgrid-edit-link,
table.mvcgrid .mvcgrid-move-link {
    display: none;
}

table.mvcgrid > tbody > tr:hover .mvcgrid-delete-link,
table.mvcgrid > tbody > tr:hover .mvcgrid-edit-link,
table.mvcgrid > tbody > tr:hover .mvcgrid-move-link {
    display: block;
}

table.mvcgrid .mvcgrid-options-column.drag-handle {
    cursor: move;
}

.mvcgrid-search {
    padding: 0 0 15px 0;
}

.mvcgrid-search .grid-clear-search-btn {
    position: absolute;
    right: 40px;
    top: 3px;
    z-index: 9;
    padding: 4px;
    border: none;
    color: #999;
}

.mvcgrid-search .grid-clear-search-btn:hover,
.mvcgrid-search .grid-clear-search-btn:active,
.mvcgrid-search .grid-clear-search-btn:focus {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.files-table tbody tr td {
    vertical-align: middle;
}

.files-table tbody tr .thumbnail-column {
    width: 216px;
    text-align: center;
    font-size: 30px;
}

.mvcgrid-pagination .pagination {
    margin: 5px 0 0 0;
}

.mvcgrid-pagination p {
    font-size: 12px;
}

.pagination > li > a,
.pagination > li > span {
    color: #38a855;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
    color: #016a3f;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #449d44;
    border-color: #449d44;
}

/*
 * Filter
 */

.filter-panel > h3 {
    margin-top: 0;
}

.filter-panel .filter-form .form-group {
    padding-left: 0;
}

.filter-range-hyphen {
    border-left: none;
    border-right: none;
    padding: 6px 8px;
}

/*
 * Forms
 */

.checkbox-list {
    padding: 0 10px;
    position: relative;
}

.checkbox-list .well-group-btn {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 1;
    text-align: right;
}

.checkbox-list .well-group-btn .btn {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

textarea + .input-group-btn {
    vertical-align: top;
}

.form-group h4 {
    margin-top: 20px;
}

.form-footer {
    height: 30px;
}

/*
 * bootstrap-multiselect plugin
 */

.multiselect-search {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.multiselect-clear-filter {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}