﻿.validation-summary-errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.input-validation-error:focus,
.error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.input-validation-error,
.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.field-validation-error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
}

.filter-form label.error {
    display: none !important;
}