﻿@using LandHunter.Common.Enums
@using Microsoft.AspNet.Identity
@using SharpEngine.Core
@model ServiceOrder

@{
    ViewBag.PageTitle = Model.ToString() + " №" + @Model.Id;
}

@section Scripts{
    @Scripts.Render("~/bundles/service-orders")
}

<h1 class="page-header">@Model.ToString() №@Model.Id</h1>

@using (Html.BeginForm())
{
    @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.ServiceName)
        @Html.EditorFor(m => m.ServiceId)
        @Html.EditorFor(m => m.ServiceName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Realtor)
        @Html.EditorFor(m => m.Realtor)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserData)
        @Html.EditorFor(m => m.UserData)
        @Html.EditorFor(m => m.Email)
        <div class="well well-sm">
            <dl>
                @if (Model.UserDataParsed != null)
                {
                    if (Model.UserDataParsed.Completeness != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Completeness)</dt>
                        <dd>@Model.UserDataParsed.Completeness</dd>
                    }
                    if (Model.UserDataParsed.CadNum != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.CadNum)</dt>
                        <dd>@Model.UserDataParsed.CadNum</dd>
                    }
                    if (Model.UserDataParsed.Address != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Address)</dt>
                        <dd>@Model.UserDataParsed.Address</dd>
                    }
                    if (Model.UserDataParsed.Comment != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Comment)</dt>
                        <dd>@Model.UserDataParsed.Comment</dd>
                    }
                    if (Model.UserDataParsed.Type != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Type)</dt>
                        <dd>@Model.UserDataParsed.Type</dd>
                    }
                    if (Model.UserDataParsed.Landmarks != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Landmarks)</dt>
                        <dd>@Model.UserDataParsed.Landmarks</dd>
                    }
                    @*if (Model.UserDataParsed.Regions != null && Model.UserDataParsed.Regions.Any())
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Regions)</dt>
                        <dd>@Model.UserDataParsed.Regions.Aggregate((r1, r2) => r1 + ", " + r2)</dd>
                    }*@
                    if (Model.UserDataParsed.Wishes != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Wishes)</dt>
                        <dd>@Model.UserDataParsed.Wishes</dd>
                    }
                    if (Model.UserDataParsed.Reason != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Reason)</dt>
                        <dd>@Model.UserDataParsed.Reason</dd>
                    }
                    if (Model.UserDataParsed.Utilization != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Utilization)</dt>
                        <dd>@Model.UserDataParsed.Utilization</dd>
                    }
                    if (Model.UserDataParsed.CategoryCode != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.CategoryCode)</dt>
                        <dd>@Model.UserDataParsed.CategoryCode</dd>
                    }
                    if (Model.UserDataParsed.DevelopmentGoal != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.DevelopmentGoal)</dt>
                        <dd>@Model.UserDataParsed.DevelopmentGoal</dd>
                    }
                    if (Model.UserDataParsed.HasSurveying != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.HasSurveying)</dt>
                        <dd>@(Model.UserDataParsed.HasSurveying.Value ? "Есть" : "Нет")</dd>
                    }
                    @*if (Model.UserDataParsed.RightholderFullName != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.RightholderFullName)</dt>
                        <dd>@Model.UserDataParsed.RightholderFullName</dd>
                    }
                    if (Model.UserDataParsed.RightholderBirthDate != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.RightholderBirthDate)</dt>
                        <dd>@Model.UserDataParsed.RightholderBirthDate.Value.ToString("d")</dd>
                    }
                    if (Model.UserDataParsed.PreviousFullName != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.PreviousFullName)</dt>
                        <dd>@Model.UserDataParsed.PreviousFullName</dd>
                    }*@
                    if (Model.UserDataParsed.FullName != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.FullName)</dt>
                        <dd>@Model.UserDataParsed.FullName</dd>
                    }
                    if (Model.UserDataParsed.Passport != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Passport)</dt>
                        <dd>@Model.UserDataParsed.Passport</dd>
                    }
                    if (Model.UserDataParsed.PostAddress != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.PostAddress)</dt>
                        <dd>@Model.UserDataParsed.PostAddress</dd>
                    }
                    if (Model.UserDataParsed.Phone != null)
                    {
                        <dt>@Html.DisplayNameFor(m => m.UserDataParsed.Phone)</dt>
                        <dd>@Model.UserDataParsed.Phone</dd>
                    }
                }
                <dt>@Html.DisplayNameFor(m => m.Email)</dt>
                <dd>@Model.Email</dd>
            </dl>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RosreestrNumber)
        @if ((Model.ModeratorId == User.Identity.GetUserId() || User.IsInRole("SuperAdministrator")) && Model.Status != ServiceOrderStatus.Suspended)
        {
            @Html.TextBoxFor(m => m.RosreestrNumber, new { @class = "form-control input-sm" })
        }
        else
        {
            @Html.TextBoxFor(m => m.RosreestrNumber, new { @class = "form-control input-sm", disabled = "disabled" })
        }
        @Html.ValidationMessageFor(m => m.RosreestrNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReceptionCode)
        @if ((Model.ModeratorId == User.Identity.GetUserId() || User.IsInRole("SuperAdministrator")) && Model.Status != ServiceOrderStatus.Suspended)
        {
            @Html.TextBoxFor(m => m.ReceptionCode, new { @class = "form-control input-sm" })
        }
        else
        {
            @Html.TextBoxFor(m => m.ReceptionCode, new { @class = "form-control input-sm", disabled = "disabled" })
        }
        @Html.ValidationMessageFor(m => m.ReceptionCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReceptionType)
        @if (Model.ReceptionType == ReceptionType.Email && Model.ModeratorId == User.Identity.GetUserId())
        {
            <p class="form-control-static">
                @Html.ActionLink(Model.ReceptionType.GetDescription(), "SendEmail", new { id = Model.Id }, new { @class = "btn btn-xs btn-info modal-form" })
            </p>
            <p class="help-block">Отправить результат по электронной почте.</p>
        }
        else
        {
            @Html.EditorFor(m => m.ReceptionType)
        }
        @Html.ValidationMessageFor(m => m.ReceptionType)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @if ((Model.ModeratorId == User.Identity.GetUserId() || User.IsInRole("SuperAdministrator")) && Model.Status != ServiceOrderStatus.Suspended)
        {
            @Html.DropDownListFor(m => m.Status, Model.StatusesDictionary, new { @class = "form-control input-sm" })
        }
        else
        {
            @Html.DropDownListFor(m => m.Status, Model.StatusesDictionary, new { @class = "form-control input-sm", disabled = "disabled" })
        }
        @Html.ValidationMessageFor(m => m.Status)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ModeratorId)
        @if (User.IsInRole("SuperAdministrator") && Model.Status != ServiceOrderStatus.Suspended)
        {
            @Html.DropDownListFor(m => m.ModeratorId, Model.ModeratorsDictionary, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.Status)
        }
        else
        {
            <p class="form-control-static">
                @Html.HiddenFor(m => m.ModeratorId)
                @Html.HiddenFor(m => m.ModeratorName)

                @if (User.IsInRole("Moderator") && Model.ModeratorId == null && Model.Status != ServiceOrderStatus.Suspended)
                {
                    @Html.ActionLink("Взять", "Take", new { id = Model.Id }, new { @class = "btn btn-xs btn-success take-btn" })
                }
                else if (Model.ModeratorId == User.Identity.GetUserId())
                {
                    <b>@Model.ModeratorName</b>
                }
                else
                {
                    @Model.ModeratorName
                }
            </p>
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Comment)
        @if ((Model.ModeratorId == User.Identity.GetUserId() || User.IsInRole("SuperAdministrator")) && Model.Status != ServiceOrderStatus.Suspended)
        {
            @Html.TextAreaFor(m => m.Comment, 6, 1, new { @class = "form-control input-sm" })
        }
        else
        {
            @Html.TextAreaFor(m => m.Comment, 6, 1, new { @class = "form-control input-sm", disabled = "disabled" })
        }
        @Html.ValidationMessageFor(m => m.Comment)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreateDate)
        @Html.EditorFor(m => m.CreateDate)
        @Html.ValidationMessageFor(m => m.CreateDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UpdateDate)
        @Html.EditorFor(m => m.UpdateDate)
        <p class="help-block">@Html.DescriptionFor(m => m.UpdateDate)</p>
        @Html.ValidationMessageFor(m => m.UpdateDate)
    </div>

    <div class="form-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-7">
                    <div class="pull-right">
                        @if ((Model.ModeratorId == User.Identity.GetUserId() || User.IsInRole("SuperAdministrator")) && Model.Status != ServiceOrderStatus.Suspended)
                        {
                            <button type="submit" class="btn btn-sm btn-success navbar-btn">Сохранить</button>
                        }
                        @Html.ActionLink("Закрыть", "Index", null, new { @class = "btn btn-sm btn-default navbar-btn" })
                    </div>
                </div>
            </div>
        </nav>
    </div>
}