﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

@section Scripts{
    @Scripts.Render("~/bundles/service-orders")
}

<h1 class="page-header">@Model</h1>

@{
    Html.UpdatePanel("Filter", new { id = controllerName + "Filter", @class = "filterpanel" });
}

<div class="alert alert-success" role="alert">
    Номер заказа услуги совпадает с номером операции.
</div>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}