﻿@model DateFilterCondition

@{
    var index = (int)ViewData["index"];
    var condition = Model.Value != null ? Model.Value.Condition : "Between";
    var inputName0 = Model.GetInputName(index, "Values[0]");
    var inputName1 = Model.GetInputName(index, "Values[1]");
    var value0 = Model.Value != null ? Model.Value.Values[0] : "";
    var value1 = Model.Value != null ? Model.Value.Values[1] : "";
}

<div class="col-md-3 form-group">
    <label>@Model.Caption</label>
    <input type="hidden" name="@Model.GetInputName(index, "Condition")" value="@condition" />
    <input type="hidden" name="@Model.GetInputName(index, "Key")" value="@Model.Key" />
    <div class="input-group">
        <input type="text" name="@inputName0" value="@value0" class="datetime-ru-input form-control input-sm" />
        <span class="input-group-addon filter-range-hyphen">&ndash;</span>
        <input type="text" name="@inputName1" value="@value1" class="datetime-ru-input form-control input-sm" />
    </div>
</div>