﻿@model int

@{
    Layout = null;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

<h4>Операторы</h4>

<p>
    @Html.ActionLink("Добавить", "ServiceCreate", new { serviceId = Model }, new { id = controllerName + "Create", @class = "btn btn-xs btn-success modal-form", @data_target_update = "#" + controllerName + "Grid" })
</p>

@{
    Html.UpdatePanel("ServiceGrid", "ModeratorsServices", new { serviceId = Model }, new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}