﻿@model LoginViewModel

@{
    ViewBag.PageTitle = "LandHunter - Администрирование";
    Layout = "~/Areas/Admin/Views/Shared/_Empty.cshtml";
}

@section Styles
{
    @Styles.Render("~/Styles/signin")
}

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading">Администрирование</h2>
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe) @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <button class="btn btn-success btn-block" type="submit">Войти</button>
    }
</div>