﻿@using Mvc.Mailer
@model ServiceOrder

@{
    Layout = null;
}

<p>Добрый день!</p>

<p>
    Спасибо, что оплатили заказ услуги «@Model.ServiceName» на сайте <a href="https://www.landhunter.ru/">landhunter.ru</a>, ID заказа &mdash; <b>@Model.Id</b>.
    <br />
    Заказ будет принят в обработку. Ответ в электронном виде будет направлен на Ваш email.
</p>

<p>
    <img width="100%" src="@Url.Abs(Url.Content("~/Images/email_img.jpg"))" alt="">
</p>

<p>
    Landhunter - это единая площадка для всех участников земельного рынка, где вы можете продать или найти земельные участки на всей территории РФ.
    Так же на нашей площадке вы можете заказать выписку ЕГРП, кадастровые и землеустроительные работы, уменьшить налог на землю, для этого вы можете пройти
    по ссылке <a href="https://www.landhunter.ru/">landhunter.ru</a> и выбрать в меню интересующие Вас работы, а наши специалисты свяжутся с вами и проконсультируют.
</p>

<p>
    Если вы являетесь агенством недвижимости, кадастровым инженером, либо оценщиком земельных активов мы будем рады обсудить с вами сотрудничество,
    для этого напишите письмо на email: <a href="mailto:work@landhuner.ru">work@landhuner.ru</a> с вашими контактными данными и направлением деятельности по которому вы хотелибы с нами сотрудничать.
</p>

<p>С наилучшими пожеланиями команда ЛэндХантер</p>