﻿@using Mvc.Mailer
@model ServiceOrder

@{
    Layout = null;
}

<p>Добрый день!</p>

<p>
    Заказ, созданный на <a href="https://www.landhunter.ru/">landhunter.ru</a>, оплачен и доступен для обработки.
    <br />
    ID заказа: @Model.Id
    <br/>
    Вид услуги: @Model.ServiceName
    <br />
    Дата оплаты: @Model.UpdateDate.ToString("g")
</p>

<p>Просьба <a href="@Url.Abs(Url.Action("Index", "ServiceOrders", new { area = "Admin" }))">зайти на портал</a> и обработать заказ!</p>

<p>Спасибо.</p>