﻿@using LandHunter.Common.Enums
@using Mvc.Mailer
@model ServiceOrder

@{
    Layout = null;
}

<p>Добрый день!</p>

<p>
    Создан новый заказ на <a href="https://www.landhunter.ru/">landhunter.ru</a>
    <br />
    ID заказа: @Model.Id
    <br/>
    Вид услуги: @Model.ServiceName
    <br />
    Дата создания: @Model.CreateDate.ToString("g")
</p>

@if (Model.Status == ServiceOrderStatus.Suspended)
{
    <p>
        Баланс риелтора не достаточен для выбранной услуги.
        <br />
        После того как риелтор пополнит свой баланс, на сумму заказанной услуги, он станет доступным для обработки. Вы получите дополнительное уведомление об этом по электронной почте.
    </p>
}
else
{
    <p>Просьба <a href="@Url.Abs(Url.Action("Index", "ServiceOrders", new { area = "Admin" }))">зайти на портал</a> и обработать заказ!</p>
}

<p>Спасибо.</p>