﻿@using LandHunter.Common.Enums
@model IEnumerable<LandHunter.Models.File>

@{
    Layout = null;
    var documents = Model.Where(f => f.Category == FileCategoryKey.Document);
    var images = Model.Where(f => f.Category == FileCategoryKey.Image);
}

@if (Model.Any())
{
    <h4>Файлы</h4>
    if (documents.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Документы</div>
            <table data-table-sortable="true" data-url-sortable="@Url.Action("Sort")" class="table table-condensed mvcgrid files-table">
                <tbody>
                    @foreach (var file in documents)
                    {
                        <tr data-item-id="@file.Id">
                            <td class="mvcgrid-options-column">
                                <a class="mvcgrid-delete-link" href="@Url.Action("Delete", new {id = file.Id})" title="Удалить">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td class="mvcgrid-options-column">
                                <a id="editFile_@file.Id" class="mvcgrid-edit-link modal-form" href="@Url.Action("Edit", new {id = file.Id})" title="Редактировать">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td class="thumbnail-column">
                                @if (file.ThumbnailPath != null)
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <img src="@Url.Content("~" + file.ThumbnailPath)" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span>
                                    </a>
                                }
                            </td>
                            <td>@file.FileName</td>
                            <td>@(file.Description != null ? Html.Raw(file.Description.Replace("\n", "<br />")) : null)</td>
                            <td>@file.UploadDate.ToString("g")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="panel-footer">Всего: <span class="uploaded-files-count">@documents.Count()</span></div>
        </div>
    }
    if (images.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Изображения</div>
            <table data-table-sortable="true" data-url-sortable="@Url.Action("Sort")" class="table table-condensed mvcgrid files-table">
                <tbody>
                    @foreach (var file in images)
                    {
                        <tr data-item-id="@file.Id">
                            <td class="mvcgrid-options-column">
                                <a class="mvcgrid-delete-link" href="@Url.Action("Delete", new {id = file.Id})" title="Удалить">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td class="mvcgrid-options-column">
                                <a id="editFile_@file.Id" class="mvcgrid-edit-link modal-form" href="@Url.Action("Edit", new {id = file.Id})" title="Редактировать">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td class="thumbnail-column">
                                @if (file.ThumbnailPath != null)
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <img src="@Url.Content("~" + file.ThumbnailPath)" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span>
                                    </a>
                                }
                            </td>
                            <td>@file.FileName</td>
                            <td>@(file.Description != null ? Html.Raw(file.Description.Replace("\n", "<br />")) : null)</td>
                            <td>@file.UploadDate.ToString("g")</td>
                            <td class="mvcgrid-options-column">
                                @if (file.CadNum != null)
                                {
                                    <span class="glyphicon glyphicon glyphicon-link" title="Данное изображение привязано к участку"></span>
                                }
                            </td>
                            <td class="mvcgrid-options-column">
                                <button class="btn btn-sm btn-default move-to-land" type="button" data-toggle="button" aria-pressed="false" title="Отметить для переноса в участок">
                                    <span class="glyphicon glyphicon-unchecked"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="panel-footer">Всего: <span class="uploaded-files-count">@images.Count()</span></div>
        </div>
    }
}