﻿@using LandHunter.Common.Enums
@model IEnumerable<LandHunter.Models.File>

@{
    Layout = null;
    var documents = Model.Where(f => f.Category == FileCategoryKey.Document);
    var images = Model.Where(f => f.Category == FileCategoryKey.Image);
}

@if (Model.Any())
{
    <h4>Файлы</h4>
    if (documents.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Документы</div>
            <table data-table-sortable="true" data-url-sortable="@Url.Action("Sort")" class="table table-condensed mvcgrid files-table">
                <tbody>
                    @foreach (var file in documents)
                    {
                        <tr data-item-id="@file.Id">
                            <td class="mvcgrid-options-column">
                                <a class="mvcgrid-delete-link" href="@Url.Action("Delete", new {id = file.Id})" title="Удалить">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td class="mvcgrid-options-column">
                                <a id="editFile_@file.Id" class="mvcgrid-edit-link modal-form" href="@Url.Action("Edit", new {id = file.Id})" title="Редактировать">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td class="drag-handle mvcgrid-options-column">
                                <a class="mvcgrid-move-link" title="Отсортировать"><span class="glyphicon glyphicon-sort"></span></a>
                            </td>
                            <td class="thumbnail-column">
                                @if (file.ThumbnailPath != null)
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <img src="@Url.Content("~" + file.ThumbnailPath)" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span>
                                    </a>
                                }
                            </td>
                            <td>@file.FileName</td>
                            <td>@(file.Description != null ? Html.Raw(file.Description.Replace("\n", "<br />")) : null)</td>
                            <td>@file.UploadDate.ToString("g")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="panel-footer">Всего: <span class="uploaded-files-count">@documents.Count()</span></div>
        </div>
    }
    if (images.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Изображения</div>
            <table data-table-sortable="true" data-url-sortable="@Url.Action("Sort")" class="table table-condensed mvcgrid files-table">
                <tbody>
                    @foreach (var file in images)
                    {
                        <tr data-item-id="@file.Id">
                            <td class="mvcgrid-options-column">
                                <a class="mvcgrid-delete-link" href="@Url.Action("Delete", new {id = file.Id})" title="Удалить">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td class="mvcgrid-options-column">
                                <a id="editFile_@file.Id" class="mvcgrid-edit-link modal-form" href="@Url.Action("Edit", new {id = file.Id})" title="Редактировать">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td class="drag-handle mvcgrid-options-column">
                                <a class="mvcgrid-move-link" title="Отсортировать"><span class="glyphicon glyphicon-sort"></span></a>
                            </td>
                            <td class="mvcgrid-options-column">
                                <a class="toggle-file-link" href="@Url.Action("Toggle", new {id = file.Id, isDeactivatedNow = file.IsDeactivated})" title="Показать/скрыть">
                                    <span class="glyphicon glyphicon glyphicon-eye-@(file.IsDeactivated ? "close" : "open")"></span>
                                </a>
                            </td>
                            <td class="thumbnail-column">
                                @if (file.ThumbnailPath != null)
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <img src="@Url.Content("~" + file.ThumbnailPath)" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("~" + file.Path)" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span>
                                    </a>
                                }
                            </td>
                            <td>@file.FileName</td>
                            <td>@(file.Description != null ? Html.Raw(file.Description.Replace("\n", "<br />")) : null)</td>
                            <td>@file.UploadDate.ToString("g")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="panel-footer">Всего: <span class="uploaded-files-count">@images.Count()</span></div>
        </div>
    }
}