﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

@section Scripts
{
    @Scripts.Render("~/bundles/exchange-rates")
}

<h1 class="page-header">@Model</h1>

<p>
    @Html.ActionLink("Обновить", "RefreshDailyRates", null, new { id = controllerName + "RefreshDailyRates", @class = "btn btn-sm btn-info", @data_target_update = "#" + controllerName + "Grid" })
    @Html.AntiForgeryToken()
</p>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}