﻿@model Land

@{
    ViewBag.PageTitle = Model.ToString();
}

@section Scripts{
    @Scripts.Render("~/bundles/uploaded-files")
    @Scripts.Render("~/bundles/lands")
}

<h1 class="page-header">@Model.ToString()</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    {
        Html.UpdatePanel("LandFiles", "Files", new { cadNum = Model.CadNum }, new { id = "LandFilesGrid", @class = "mvcgrid-panel" });
    }
    <hr />
    <h3>Объявления по участку</h3>
    {
        Html.UpdatePanel("ByLandGrid", "Advertisements", new { cadNum = Model.CadNum }, new { id = "LandAdvertisementsGrid", @class = "mvcgrid-panel" });
    }

    <div class="form-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-7">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-sm btn-success navbar-btn">Сохранить</button>
                        @Html.ActionLink("Обновить из ПКК", "UpdateCadastreInfo", null, new { id = "UpdateCadastreInfo", @class = "btn btn-sm btn-info navbar-btn" })
                        @Html.ActionLink("Закрыть", "Index", null, new { @class = "btn btn-sm btn-default navbar-btn" })
                    </div>
                </div>
            </div>
        </nav>
    </div>
}