﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

@section Scripts
{
    @Scripts.Render("~/bundles/lands")
}

<h1 class="page-header">@Model</h1>

@{
    Html.UpdatePanel("Filter", new { id = controllerName + "Filter", @class = "filterpanel" });
}

<p>
    @Html.ActionLink("Обновить из ПКК", "UpdateCadastreInfo", null, new { id = controllerName + "UpdateCadastreInfo", @class = "btn btn-sm btn-info", @data_target_update = "#" + controllerName + "Grid" })
    @Html.AntiForgeryToken()
</p>

<p>
    @Html.ActionLink("Обновить все из ПКК", "UpdateCadastreInfo", null, new { id = controllerName + "UpdateAllCadastreInfo", @class = "btn btn-sm btn-info"})
    @Html.AntiForgeryToken()
</p>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}