﻿@model Order

@{
    ViewBag.PageTitle = Model.ToString() + " №" + @Model.Id;
}

<h1 class="page-header">@Model.ToString() №@Model.Id</h1>

@using (Html.BeginForm())
{
    @Html.Hidden("ModelStateErrors", ViewData.ModelState.Values.Select(v => v.Errors.Count).Sum())
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.EditorForModel()

    <div class="form-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-7">
                    <div class="pull-right">
                        @Html.ActionLink("Закрыть", "Index", null, new { @class = "btn btn-sm btn-default navbar-btn" })
                    </div>
                </div>
            </div>
        </nav>
    </div>
}
