﻿@{
    ViewBag.PageTitle = Model;

    var controllerName = Url.RequestContext.RouteData.Values["controller"];
}

<h1 class="page-header">@Model</h1>

@{
    Html.UpdatePanel("Filter", new { id = controllerName + "Filter", @class = "filterpanel" });
}

<div class="alert alert-success" role="alert">
    У операций с типом <b>"Заказ услуги"</b> номер совпадает с номером заказа услуги.
</div>

@{
    Html.UpdatePanel("Grid", new { id = controllerName + "Grid", @class = "mvcgrid-panel" });
}